

h1 {
  text-align: center;
  margin-bottom: 0.5rem;
}

h2 {
  text-align: center;
  margin-top: 0;
  font-weight: 400;
}

ion-list {
  margin: 1rem 0;
}

ion-item {
  --background: transparent;
}

ion-input {
  --placeholder-opacity: 1;
}

ion-button {

  
  &[fill="clear"] {
    --background: transparent;
  }
}
